## Capstone Project Phase 1:

### Assignment 1: Build the team & other logistics \[3 Points\]

1. Find members, make team.
2. Select team lead and create one github repository per team for project.
3. Create Readme.MD file and put name of your teammates. Submit the repository link.

### Assignment 2: Pick Problem Statement & Dataset \[5 Points\]

1. Define your problem statement. (tentative, can be changed in future)
2. Find the dataset for your project.
3. Add details of problem statement & dataset link to your github readme file.

Github repository link for project  https://github.com/priyam001/Python-Project

## Python Pandas Assignment:

In [5]:
# Problem: Create dataframe with custom row index & column name. The dimension should be 10x4. 
#    Custom Index should start from 101 to 110. column name should be `a` to `d`. 
#    `a` should be strings, `b` should be numbers, `c` & 'd' should be float.
#     fill up random values using numpy.random.  [4 Points]
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'a': np.random.choice(['One', 'Two', 'Three'], 10),
    'b':np.random.randint(1,3,10),
    'c':np.random.uniform(1.0,3.0,10),
    'd':np.random.uniform(1.0,3.0,10)
})
print(df)

       a  b         c         d
0    One  1  1.291937  1.103703
1    Two  2  2.980897  2.121426
2  Three  2  2.626295  1.631530
3  Three  2  2.687135  2.362000
4    Two  2  2.870798  2.801499
5    Two  2  2.227225  2.510407
6  Three  1  2.558644  2.496071
7    Two  1  2.904810  1.384938
8    Two  1  2.178671  2.625319
9    Two  2  2.303803  1.928480

In [6]:
# Problem: Use the original dataframe to create another dataframe that has rows from index 103 to 108. [1 Points]

a=df[0:5]

'''
c=pd.DataFrame(b,index=[103,104,105,106,107,108,109])
c
'''
b=a.copy().to_string(index=False)
d=pd.Series(b, index=[100, 101, 102, 103])
d

100         a  b         c         d\n   One  1  1.29...
101         a  b         c         d\n   One  1  1.29...
102         a  b         c         d\n   One  1  1.29...
103         a  b         c         d\n   One  1  1.29...
dtype: object

In [8]:
# Problem: Use the original dataframe to create another dataframe that does not have first and last row [1 Points]

count=df
count.drop([1, 9])

       a  b         c         d
0    One  1  1.291937  1.103703
2  Three  2  2.626295  1.631530
3  Three  2  2.687135  2.362000
4    Two  2  2.870798  2.801499
5    Two  2  2.227225  2.510407
6  Three  1  2.558644  2.496071
7    Two  1  2.904810  1.384938
8    Two  1  2.178671  2.625319

In [9]:
# Problem: Group and print orignal dataframe by column `a`

group = df.groupby(['a'])
group
for a , df in group:
    print(a)
    print(df)

One
     a  b         c         d
0  One  1  1.291937  1.103703
Three
       a  b         c         d
2  Three  2  2.626295  1.631530
3  Three  2  2.687135  2.362000
6  Three  1  2.558644  2.496071
Two
     a  b         c         d
1  Two  2  2.980897  2.121426
4  Two  2  2.870798  2.801499
5  Two  2  2.227225  2.510407
7  Two  1  2.904810  1.384938
8  Two  1  2.178671  2.625319
9  Two  2  2.303803  1.928480

In [10]:
# Problem: Use the orginal dataframe and drop first and last column [1 Points]

df.drop(['a','d'], axis = 1)

   b         c
1  2  2.980897
4  2  2.870798
5  2  2.227225
7  1  2.904810
8  1  2.178671
9  2  2.303803